.error {
	color: red;
	font-size: 14px; 
}

#container{
	display: grid;
	margin-top: 18vh;
	margin-bottom: 18vh;
	margin-left: 35vh;
	margin-right: 35vh;
}

body{
	background-image: url(../imagens/lilas.png);
}